body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: rgb(179, 176, 176);

}
main h1{
    margin-top: 136px;
    font-size: 1.9em;
}
tr,
td {
    background-color: rgb(187, 49, 15);
    color: aliceblue;
    font-size: 1.5em;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
}

td:hover {
    background-color: rgb(46, 45, 45);

}

table {
    
    text-align: center;
    margin-bottom: 10px;
}

.operacao {
    text-align: center;
    width: 33px;
    height: 30px;
    background-color: rgb(46, 84, 150);
    border: 1px solid rgba(104, 102, 102, 0.779);
    font-size: 1.3em;
    margin-right: 5px;
}

#igual {
    text-align: center;
    width: 35px;
    height: 30px;
    background-color: black;
    color: wheat;
    border: 1px solid rgba(104, 102, 102, 0.779);
    font-size: 1.1em;


}

.operacao:hover {
    background-color: rgba(39, 61, 99, 0.875);
    ;

}

#igual:hover {
    background-color: rgb(25, 24, 24);


}

.display {
    text-align: right;
}